a {
  text-decoration: none;
}

img {
  border-radius: 50%;
}

.data {
  font-size: 230%;
}

.hora {
  margin-top: 40%;
  font-size: 1000%;
  color: rgb(78, 94, 187)
}

.mod {
  margin-left: 40px;
}

/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.navB {
  margin-left: 82rem;
}

/*Scroll bar*/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0080FF black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #0080FF;
  border-radius: 20px;
  border: 3px solid black;
}

/*fim scroll bar*/


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.contFooter {
  width: auto;
  max-width: 680px;
  padding: 0 15px;

  margin-left: 30rem;
}

/*CUSTOMIZAR PLAYER*/

.espacamento {
  border-radius: 100px;
  padding-left: 5px;
}

.customPlayer {
  position: fixed;
  top: 27%;
  list-style: none;
}

.customIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;

  color: #0080FF;
  background-color: black;

  justify-content: absolute;
  align-items: center;
}

.sumirPlayer {
  position: absolute;
  top: 0;
}

/*icon de top*/
.customButtom {
  position: fixed;
  top: 94%;
  left: 95%;
  margin-right: 1rem;
}


/*footer fixed*/

.endpage {
  position: fixed;
  bottom: 0%;
  margin-bottom: 0%;

}