img {
    border-radius: 50%;
}

.data {
    font-size: 230%;
}

.hora {
    margin-top: 40%;
    font-size: 1000%;
    color:rgb(36, 100, 41)
}

.mod {
    margin-left: 40px;
}

/* Show it is fixed to the top */
body {
    background-color: rgb(70, 70, 70);
    min-height: 75rem;
    padding-top: 4.5rem;
  }
  
  .search {
    width: 400px;
    margin-right: 10rem;
  }
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.contFooter {
    width: auto;
    max-width: 680px;
    padding: 0 15px;

    margin-left: 30rem;
  }