A {
    text-decoration: none;
    color: rgb(36, 100, 41);
}

img {
    border-radius: 50%;
}

.data {
    font-size: 230%;
}

.hora {
    margin-top: 40%;
    font-size: 1000%;
    color:rgb(36, 100, 41)
}
