#list-item-1, #list-item-2, #list-item-3, #list-item-4, #list-item-5, #list-item-6{
  display: none;
}
.list-item:hover{
  background-color: rgb(87, 211, 230);
}

#list-item-1:target , #list-item-2:target , #list-item-3:target , #list-item-4:target , #list-item-5:target  , #list-item-6:target {
  display: block;
}